@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#050616];
}

.active,
.sidebar-link:hover {
  background: linear-gradient(to right, #e2a1207c, transparent);
  @apply border-l-golden;
}
.rhap_container {
  background-color: #131416 !important;
  max-width: 1100px;
  @apply border-t-golden;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0 #4d4c4c !important;
  display: flexbox !important;
}
.rhap_current-time,
.rhap_total-time {
  color: white !important;
}
.rhap_progress-indicator {
  background-color: #e2a020 !important;
  /* @apply bg-golden; */
}
.rhap_progress-filled {
  background-color: #e2a020 !important;
  /* @apply bg-golden; */
}
.iconify--mdi {
  color: white !important;
}
.rhap_volume-indicator {
  background-color: #fff !important;
}

.featured-artists,
.artist-section {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.top-albums,
.albums-section {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.charts-section,
.music-section,
.new-releases {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.top-charts {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
