@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1e22;
}

.active,
.sidebar-link:hover {
  background: linear-gradient(to right, #bc75fa27, transparent);
  @apply border-l-purple-900;
}
.rhap_container {
  background-color: #131416 !important;
  max-width: 1100px;
  border-top: 1px solid #9333ea;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0 #4d4c4c !important;
  display: flexbox !important;
}
.rhap_current-time,
.rhap_total-time {
  color: white !important;
}
.rhap_progress-indicator {
  background-color: #9333ea !important;
}
.rhap_progress-filled {
  background-color: #9333ea !important;
}
.iconify--mdi {
  color: white !important;
}
.rhap_volume-indicator {
  background-color: #fff !important;
}
